<footer>
    <section>
    <a href="#" >Copyright</a>
    <a href="#">Privacy</a>
    <a href="/staff_login">Staff Login</a>
    </section>
    <section class="footer-icons">

    <span><i class="fa fa-facebook" aria-hidden="true"></i></span>
    <span><i class="fa fa-instagram" aria-hidden="true"></i></span>
    <span><i class="fa fa-linkedin" aria-hidden="true"></i></span> <br>
    
</section>
    

</footer>