<header>
    <nav class="navbar"> 
        <a href="/" class="nav_company">The Mobile Hour</a>
        <ul class="nav_menu">
            <li><a href="/" class="nav_element" ><i class="fa fa-fw fa-home"></i> Home</a></li>
            <li><a href="/product_list" class="nav_element" ><i class="fa fa-mobile" aria-hidden="true"></i>Products</a></li>
            <li><a href="/staff_login" class="nav_element"><i class="fa fa-sign-in" aria-hidden="true"></i>
                Staff Login</a></li>
        </ul>
    </nav>
</header>