<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head.ejs") %>
        <title>Admin Create Features</title>
</head>

<body>
    <%- include("partials/header.ejs") %>
        <%- include("partials/admin_nav.ejs")%>

            <form action="/create_new_feature" method="post" class="form">
                <input type="hidden" name="feature_id"  />
                <label for="weight">Weight:</label>
                <input type="text" name="weight" id="weight"  />
                <label for="dimensions">Dimensions:</label>
                <input type="text" name="dimensions" id="dimensions"  />
                <label for="os">OS:</label>
                <input type="text" name="os" id="os"  />
                <label for="screen_size">Screen Size:</label>
                <input type="text" name="screen_size" id="screen_size"  />
                <label for="resolution">Resolution:</label>
                <input type="text" name="resolution" id="resolution"  />
                <label for="cpu">CPU:</label>
                <input type="text" name="cpu" id="cpu"  />
                <label for="ram">RAM:</label>
                <input type="text" name="ram" id="ram"  />
                <label for="storage">Storage:</label>
                <input type="text" name="storage" id="storage"  />
                <label for="battery">Battery:</label>
                <input type="text" name="battery" id="battery"  />
                <label for="rear_camera">Rear Camera:</label>
                <input type="text" name="rear_camera" id="rear_camera"  />
                <label for="front_camera">Front Camera:</label>
                <input type="text" name="front_camera" id="front_camera"  />
                <input type="submit" class="button" value="Create" />
                

                
            </form>
            </section>

            <%- include('partials/footer.ejs') %>

</body>

</html>