<!DOCTYPE html>
<html lang="en">

<head>
    <%- include("partials/head.ejs") %>
        <title>Mobile Hour - Home</title>
</head>
<body>
    <%- include("partials/header.ejs") %>
        <main>
            <section class="image-section">
                <h1>The Mobile Hour</h1>
                <h3>Your one-stop destination for the most wanted smartphones at incredible prices. 
                    Discover the perfect mobile companion to match your taste and style.</h3>
            </section>

            <section class="brand-heading">
                <h2>Brand We Sell</h2>
                <section class="brand-container">
                    <h3 class="brand-items"> Apple</h3>
                    <h3 class="brand-items"> Samsung</h3>
                    <h3 class="brand-items"> Google</h3>
                    <h3 class="brand-items"> OPPO</h3>
                    <h3 class="brand-items"> OnePlus</h3>
                    <h3 class="brand-items"> Realme</h3>
                    <h3 class="brand-items"> Vivo</h3>
                    <h3 class="brand-items"> Nokia</h3>
                    <h3 class="brand-items"> HTC</h3>
                    <h3 class="brand-items"> Motorola</h3>
                    <h3 class="brand-items"> Sony</h3>
                </section>



            </section>


        </main>
        <!-- <%- include("partials/header.ejs") %> -->
        <%- include('partials/footer.ejs') %>
            <!-- Footer -->

</body>

</html>